@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Showpony stats</title>
    </head>
    <body>
        <div>
              TODO - put showpony stats here!
        </div>
    </body>
</html>