@model Showpony.Demo.Models.ExperimentResultsViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <div>

        <h1>This experiment is OVER.</h1>

        <p>
            <strong>Here are the results:</strong>
        </p>
        

        <ul>

            @foreach (var variant in Model.VariantResults)
            {
                <li>
                    @variant.Name | @variant.Started | @variant.Ended
                </li>
            }
        </ul>


        @Html.ActionLink("Start again", "Index")
    </div>
</body>
</html>