@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
            I am the exit.
            <br />
            <br />
            @Html.ActionLink("Start again", "Index")
        </div>
    </body>
</html>